{% include 'header.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Antipiretik</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li><button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#tambahantipiretik">Tambah</button></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Obat Antipiretik</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="antipiretik" class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 10px">Id</th>
                      <th>Nama Obat</th>
                      <th>jenis Obat</th>
                      <th>Harga</th>
                      <th>Stok</th>
                      <th>Aksi</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for antipiretik in data %}
                    <tr>
                      <td>{{ antipiretik.0}} </td>
                      <td>{{ antipiretik.1 }}</td>
                      <td>{{ antipiretik.2 }}</td>
                      <td>{{ antipiretik.3 }}</td>
                      <td>{{ antipiretik.4 }}</td>
                      <td><a href="#!" class="btn btn-warning" role="button" data-toggle="modal" data-target="#editantipiretik{{ antipiretik.0 }}">Ubah</a></td>
                      <td><a href="/hapusantipiretik/{{ antipiretik.0 }}" class="btn btn-danger" onclick=" return confirm('anda yakin akan menghapus data ini')">Hapus</a></td>
                    </tr>

                    <!--update antibiotik-->
                    <div id="editantipiretik{{ antipiretik.0 }}" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                    
                    
                         <div class="modal-content">
                    
                    
                            <div class="modal-header">
                    
                    
                               <h4 class="modal-title">Update Obat Antipiretik</h4>
                    
                    
                            </div>
                    
                    
                            <div class="modal-body">
                    
                    
                               <form action="{{url_for('updateantipiretik')}}" method="POST">
                    
                    
                                  <div class="form-group">
                    
                    
                                     <label>Nama Obat:</label>
                                      <input type="hidden"  name="id_antipiretik" value="{{ antipiretik.0 }}">
                    
                                     <input type="text" class="form-control" name="namaobat" value="{{ antipiretik.1 }}" readonly>
                    
                    
                                  </div>
                    
                                  <div class="form-group">
                    
                    
                                     <label>Jenis Obat:</label>
                    
                                     <input type="text" class="form-control" name="jenis" value="{{ antipiretik.2 }}">
                    
                    
                                  </div>
                    
                    
                                  <div class="form-group">
                    
                    
                                     <label>Harga:</label>
                    
                                     <input type="text" class="form-control" name="harga" value="{{ antipiretik.3 }}">
                    
                    
                                  </div>

                                  <div class="form-group">
                    
                    
                                    <label>Stok:</label>
                   
                                    <input type="number" class="form-control" name="stok" value="{{ antipiretik.4 }}">
                   
                   
                                 </div>
                    
                    
                                  <div class="form-group">
                    
                    
                                     <button class="btn btn-primary" type="submit">Update</button>
                    
                    
                                  </div>
                    
                    
                               </form>
                    
                    
                            </div>
                    
                    
                            <div class="modal-footer">
                    
                    
                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                    
                            </div>
                    
                    
                         </div>
                    
                    
                      </div>
                    
                   </div> 
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  {% include 'footer.html' %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <script>
      $(document).ready(function() {
          $('#antipiretik').DataTable();
      } );
  </script>
  <!-- /tambah obat antipiretik-->
  <div id="tambahantipiretik" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
  
             <h4 class="modal-title">Tambah Obat Antipiretik</h4>
          </div>
          <div class="modal-body">
  
             <form action="{{url_for('simpanantipiretik')}}" method="POST">
  
  
                <div class="form-group">
  
                   <label>Nama Obat:</label>
                   <input type="text" class="form-control" name="namaobat" required="1">
  
  
                </div>
                
                <div class="form-group">
  
                  <label>Jenis Obat:</label>
                   <select name="jenis">
                    <option value=""></option>
                    <option value="Tablet">Tablet</option>
                    <option value="Sirup">Sirup</option>
					<option value="Kaspul">Kaspul</option>
					<option value="Bubuk">Bubuk</option>
                    </select>
 
 
               </div>
  
  
                 <div class="form-group">
  
  
                   <label>Harga Obat:</label>
                   <input type="text" class="form-control" name="harga" required="1">
  
  
                </div>
  
  
                 <div class="form-group">
  
  
                   <label>Stok Obat:</label>
                   <input type="number" class="form-control" name="stok" required="1">
  
  
                </div>
  
  
  
                <div class="form-group">
  
  
                   <button class="btn btn-primary" type="submit">Tambah Obat</button>
  
  
                </div>
  
  
             </form>
  
  
          </div>
  
  
          <div class="modal-footer">
  
  
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  
  
          </div>
  
  
       </div>


  <!-- /edit obat antipiretik-->

      