{% include 'header.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>User</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li><button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#tambahuser">Tambah</button></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data User</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="user" class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>ID</th>
                      <th>Username</th>
                      <th>Password</th>
                      <th>Nama User</th>
                      <th>NIP</th>
                      <th>Status</th>
                      <th width="10%" method="POST">Aksi</th>
                      <th width="10%" method="POST">Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in data %}
                    <tr>
                      <td>{{ user.0 }}</td>
                      <td>{{ user.1 }}</td>
                      <td>{{ user.2 }}</td>
                      <td>{{ user.3 }}</td>
                      <td>{{ user.4 }}</td>
                      <td>{{ user.5 }}</td>
                      <td><a href="#!" class="btn btn-warning" role="button" data-toggle="modal" data-target="#edituser{{ user.0 }}">Ubah</a></td>
                      <td><a href="/hapususer/{{ user.0 }}" class="btn btn-danger" onclick=" return confirm('anda yakin akan menghapus data ini')">Hapus</a></td>
                    </tr>

                    <!--update antibiotik-->
                    <div id="edituser{{ user.0 }}" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                    
                    
                         <div class="modal-content">
                    
                    
                            <div class="modal-header">
                    
                    
                               <h4 class="modal-title">Update User</h4>
                    
                    
                            </div>
                    
                    
                            <div class="modal-body">
                    
                    
                               <form action="{{url_for('updateuser')}}" method="POST">
                    
                    
                                  <div class="form-group">
                    
                    
                                     <label>Username:</label>
                                      <input type="hidden"  name="id_user" value="{{ user.0 }}">
                    
                                     <input type="text" class="form-control" name="user_login" value="{{ user.1 }}" readonly>
                    
                    
                                  </div>
                    
                                  <div class="form-group">
                    
                    
                                     <label>Password:</label>
                    
                                     <input type="text" class="form-control" name="password" value="{{ user.2 }}">
                    
                    
                                  </div>
                    
                    
                                  <div class="form-group">
                    
                    
                                     <label>Nama User:</label>
                    
                                     <input type="text" class="form-control" name="nama_user" value="{{ user.3 }}">
                    
                    
                                  </div>

                                  <div class="form-group">
                    
                    
                                    <label>NIP:</label>
                   
                                    <input type="text" class="form-control" name="nip" value="{{ user.4 }}">
                   
                   
                                 </div>

                                 <div class="form-group">
                    
                    
                                  <label>Status:</label>
                 
                                  <input type="text" class="form-control" name="status" value="{{ user.5 }}">
                 
                 
                               </div>
                    
                                  <div class="form-group">
                    
                    
                                     <button class="btn btn-primary" type="submit">Update User</button>
                    
                    
                                  </div>
                    
                    
                               </form>
                    
                    
                            </div>
                    
                    
                            <div class="modal-footer">
                    
                    
                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                    
                            </div>
                    
                    
                         </div>
                    
                    
                      </div>
                    
                   </div> 
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  {% include 'footer.html' %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#user').DataTable();
        } );
    </script>

  <!-- /tambah obat analgetik-->
  <div id="tambahuser" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
  
             <h4 class="modal-title">Tambah User</h4>
          </div>
          <div class="modal-body">
  
             <form action="{{url_for('simpanuser')}}" method="POST">
  
  
                <div class="form-group">
  
                   <label>Username:</label>
                   <input type="text" class="form-control" name="user_login" required="1">
  
  
                </div>
                
                <div class="form-group">
  
                  <label>Password:</label>
                  <input type="text" class="form-control" name="password" required="1">
 
 
               </div>
  
  
                 <div class="form-group">
  
  
                   <label>Nama User:</label>
                   <input type="text" class="form-control" name="nama_user" required="1">
  
  
                </div>

                <div class="form-group">
  
  
                  <label>NIP:</label>
                  <input type="text" class="form-control" name="nip" required="1">
 
 
                </div>

                <div class="form-group">
  
  
                  <label>Status:</label>
                  <input type="text" class="form-control" name="status" required="1">
 
 
                </div>
  
  
                <div class="form-group">
  
  
                   <button class="btn btn-primary" type="submit">Tambah User</button>
  
  
                </div>
  
  
             </form>
  
  
          </div>
  
  
          <div class="modal-footer">
  
  
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  
  
          </div>
  
  
       </div>


 

      